@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.container {
    background-color: aqua;
}

.container  ul {
    display: flex ;
    gap: 1rem;
    animation: 35s slide infinite linear;
}